body{
    font-family: "Press Start 2P", system-ui;
    background-color: #fffef1;
    margin: 0;
    background-image: url('toguepi1.png');
    background-repeat: no-repeat;
    background-position: right bottom;
}

header{
    width: 100%;
}

nav{
    display: flex;
    justify-content: center;
    background-color: #c5c6ff;
    color: #000;
    align-items: center;
    padding: 13px;
    border-top: 3px solid;
    border-bottom: 3px solid;
}

nav img{
    width: 79px;
}

nav h1{
    font-size: 11px;
}




.contenido{
    display: flex;
    margin-top: 66px;
    justify-content: space-around;
    padding: 20px;
    flex-direction: row;
}

.cajita{
    padding: 20px 20px 0px 20px;
    background-color: #fffef1;
    border-radius: 16px;
    -webkit-box-shadow: 3px 3px 0px 7px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 0px 7px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 0px 7px rgb(0, 0, 0);
}

.cajita img{
    width: 156px;
}

.cajita h2{
    text-align: center;
    font-family: "Titillium Web", sans-serif;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
   
}

.cajita h2::after{
    content: "";
    background-color: #ff91e8;
    display: block;
    height: 3px;
}

.info-precio{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-precio img{
    width: 20px;
}

.info-precio p{
    font-size: 13px;
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
}

.contenedor-poke{
    width: 50%;
}

.text-poke h2{
    font-size: 17px;
    text-align: center;
    margin-bottom: 32px;
    color: #000000;
}

.cajita-form h2{
    font-size: 17px;
    text-align: center;
    margin-bottom: 32px;
    color: #000000;
}

.productos-img{
    display: flex;
    gap: 31px;
    flex-wrap: wrap;
   /* width: 50%;
    overflow: scroll;
    /*height: 445px;*/
    padding-left: 0;
    list-style: none;
}

.cajita-form{
    width: 30%;
}

form {
    max-width: 385px;
    
  
}

label {
    display: block;
    margin-bottom: 8px;
    color: #000000;
    font-size: 16px;
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;

}

input{
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    resize: none;
    border: 2px solid #000000;
    border-radius: 20px;
    background-color: transparent;
}

button[type="submit"] {
    background-color: #f7cb46;
    color: #040404;
    cursor: pointer;
    width: 131px;
    border: 2px solid black;
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    border-radius: 8px;
    padding: 5px 0px;
}

button[type="submit"]:hover {
    border: 2px solid #000000;
    background-color: transparent;
    color: #000000;
    border-radius: 8px;

}

button[type="reset"] {
    border: 2px solid #000000;
    background-color: #fffef1;
    color: #000000;
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    cursor: pointer;
    border-radius: 8px;
    width: 131px;
    padding: 5px 0px;
    
}

button[type="reset"]:hover {
    background-color: #f7cb46;
    border: 2px solid #000000;
    color: #000000;
    border-radius: 8px;
    

}

.botones-form{
    display: flex;
    justify-content: space-between;
}

.footer{
    background-color: #ff91e8;
    margin-top: 388px;
    padding: 18px;
    color: #000;
    border-top: 3px solid;
    
}

.footer-img{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.footer h1{
    font-size: 11px;
}

.footer-img img{
    width: 77px;
}

.footer-text{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "Titillium Web", sans-serif;
    font-weight: 300;
    font-style: normal;
}



@media (max-width: 840px){
   
    .contenido{
        flex-direction: column-reverse;
        margin-top: 29px;
    }

    .contenedor-poke {
        width: 100%;
    }
      
    .text-poke {
        margin-top: 65px;
    }

    .cajita-form {
        width: 100%;
    }

    .productos-img{
        justify-content: center;
    }
    form{
        margin: 0 auto;
    }
}

@media (max-width: 320px){
   
    .contenido{
        flex-direction: column-reverse;
        margin-top: 29px;
    }

    .contenedor-poke {
        width: 100%;
    }
      
    .text-poke {
        margin-top: 65px;
    }

    .cajita-form {
        width: 100%;
    }

    .productos-img{
        justify-content: center;
    }
}